<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yeni Çalışan Ekle</title>
	<link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>
<body class="body2">
    <form th:action="@{/admin/employees/create}" method="post" enctype="multipart/form-data" class="employee-form">
		<h1 class="page-title">Yeni Çalışan Ekle</h1>
        <input type="text" name="firstName" placeholder="Ad" required class="form-input"/><br/>
        <input type="text" name="lastName" placeholder="Soyad" required class="form-input"/><br/>
        <input type="email" name="email" placeholder="Email" required class="form-input"/><br/>
        <input type="text" name="title" placeholder="Ünvan" class="form-input"/><br/>
        <input type="text" name="phoneNumber" placeholder="Telefon" class="form-input"/><br/>
        <input type="text" name="linkedinUrl" placeholder="LinkedIn URL" class="form-input"/><br/>
		<input type="date" name="startDate" placeholder="İşe giriş Tarihi" class="form input"><br/>
        <label class="form-label">Fotoğraf (JPEG):</label>
        <input type="file" name="photo" class="form-input"/><br/>
        <button type="submit" class="form-button">Kaydet</button>
		<a href="/admin/employees" class="page-link">Çalışanlar</a>
		<a href="/login" class="page-link">Çıkış</a>
    </form>
</body>
</html>
